div.ccm-shopify-product {
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
}

div.ccm-shopify-product img {
	display: block;
	margin: 0px auto 10px auto;
}

.shopify-product-description {
	text-align: left;
}